In [120]:
import pandas as pd

df = pd.read_csv("list.csv")
df.head()

,ID_HDC_G0,GCPNT_LAT,GCPNT_LON,XC_NM_LST,XC_ISO_LST,GRGN_L1,GRGN_L2,UC_NM_MN,UC_NM_LST,P15
0,5737,35.698462,51.227700,Iran,IRN,Asia,South-Central Asia,Tehran,Tehran; Karaj; Eslamshahr; Qods; Shahriyar,12515044.54
1,2125,6.567182,3.297388,Nigeria,NGA,Africa,Western Africa,Lagos,Lagos,11575042.53
2,11800,10.851848,106.712677,Vietnam,VNM,Asia,South-Eastern Asia,Ho Chi Minh City,Ho Chi Minh City; Thu Dau Mot City; Gia Dinh; ...,11488340.15
3,8050,13.020146,77.574697,India,IND,Asia,South-Central Asia,Bengaluru,Bengaluru,10631615.37
4,12430,23.429406,116.462477,China,CHN,Asia,Eastern Asia,Jieyang,Jieyang; Shantou; Chaozhou; Puning; Chaoyang; ...,10445183.08

In [126]:
df["lat_3dp"] = pd.Series(["{:.3f}".format(round(n, 3)) for n in df["GCPNT_LAT"]])
df["lon_3dp"] = pd.Series(["{:.3f}".format(round(n, 3)) for n in df["GCPNT_LON"]])

df["lat_25_75"] = pd.Series([round_25_75(n) for n in df["lat_3dp"]])
df["lon_25_75"] = pd.Series([round_25_75(n) for n in df["lon_3dp"]])

df = df.drop(columns=["lat_3dp", "lon_3dp"])
df.head()

,ID_HDC_G0,GCPNT_LAT,GCPNT_LON,XC_NM_LST,XC_ISO_LST,GRGN_L1,GRGN_L2,UC_NM_MN,UC_NM_LST,P15,lat_25_75,lon_25_75
0,5737,35.698462,51.227700,Iran,IRN,Asia,South-Central Asia,Tehran,Tehran; Karaj; Eslamshahr; Qods; Shahriyar,12515044.54,35.75,51.25
1,2125,6.567182,3.297388,Nigeria,NGA,Africa,Western Africa,Lagos,Lagos,11575042.53,6.75,3.25
2,11800,10.851848,106.712677,Vietnam,VNM,Asia,South-Eastern Asia,Ho Chi Minh City,Ho Chi Minh City; Thu Dau Mot City; Gia Dinh; ...,11488340.15,10.75,106.75
3,8050,13.020146,77.574697,India,IND,Asia,South-Central Asia,Bengaluru,Bengaluru,10631615.37,13.25,77.75
4,12430,23.429406,116.462477,China,CHN,Asia,Eastern Asia,Jieyang,Jieyang; Shantou; Chaozhou; Puning; Chaoyang; ...,10445183.08,23.25,116.25

In [127]:
df.to_csv("list_25_75.csv")

In [83]:
def nums_after_decimal(n):
    n = str(n)
    point = n.find(".")
    return len(n[point + 1 :])


df["lat_len"] = pd.Series([nums_after_decimal(n) for n in df["lat"]])
df.head()

df.lat_len.value_counts()

3    13113
Name: lat_len, dtype: int64

In [95]:
def round_25_75(n):
    """
    Given any number n, round it to either .25 or .75 (whichever is closest)
    """
    point = n.find(".")
    decimal = int(n[point + 1])

    if decimal >= 5:
        new_num = str(n)[:-3] + str("75")
        new_num = float(new_num)
    else:
        new_num = str(n)[:-3] + str("25")
        new_num = float(new_num)

    return new_num

In [115]:
round_25_75("-0.100")

-0.25

In [7]:
a = [1, 2, 3, 4, 5]
b = [x**2 for x in a]
b

[1, 4, 9, 16, 25]

In [ ]:
c =